---
import Slide from "../components/Slide.astro";
import CodeBlock from "../components/CodeBlock.astro";
---

<Slide>
	<h2>Un nom : un élément</h2>
	<CodeBlock lang="jsx" lines="|3">
		{
			`<div
	className="card"
	style={{ viewTransitionName:\`card-\${color}\` }}>
</div>`
		}
	</CodeBlock>
</Slide>
