---
import Tree from "../assets/css-tree.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>Un arbre de pseudo-éléments</h2>
	<img src={Tree.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}

	h2 {
		font-size: 1.61em;
	}
</style>
