---
import Queries from "../assets/media-queries.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>Media queries</h2>
	<img src={Queries.src} />
</Slide>

<style>
	img {
		width: 35vw;
	}
</style>
