---
import Custom from "../assets/custom-transition-code.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>Personnaliser les animations</h2>
	<img src={Custom.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}

	h2 {
		font-size: 1.61em;
	}
</style>
