---
import Slide from "../components/Slide.astro";
import CodeBlock from "../components/CodeBlock.astro";
---
<Slide>
	<h2>Utiliser la viewTransition en MPA</h2>
</Slide>

<Slide>
	<h2>Utiliser la viewTransition en MPA</h2>
	<CodeBlock lang="CSS">
		{
			`@view-transition {
  navigation: auto;
}`
		}
	</CodeBlock>
</Slide>

<style>
	h2 {
		font-size: 1.4em;
	}
</style>
