---
import Slide from "../components/Slide.astro";
import Mpa from "../assets/view-transition-mpa.svg"
---
<Slide>
	<h2>Utiliser la viewTransition en MPA</h2>
</Slide>

<Slide>
	<h2>Utiliser la viewTransition en MPA</h2>
	<img src={Mpa.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}

	h2 {
		font-size: 1.4em;
	}
</style>
