---
import Feature from "../assets/feature-name-code.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>Un nom : un élément</h2>
	<p class="fragment">(mais pas nécessairement le même avant et après)</p>
	<img src={Feature.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}
</style>
