---
import Slide from "../components/Slide.astro";
import Code from "../assets/carbon.svg"
---
<Slide>
	<h2>Utiliser la viewTransition en SPA</h2>
</Slide>

<Slide>
	<h2>Utiliser la viewTransition en SPA</h2>
	<img src={Code.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}

	h2 {
		font-size: 1.4em;
	}
</style>
