---
import Lifecycle from "../assets/lifecycle.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>L'objet ViewTransition</h2>
	<img src={Lifecycle.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}
</style>
