---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h2>Perspectives</h2>
	<ul>
		<li class="fragment">Une API puissante et très flexible</li>
		<li class="fragment">Des améliorations de DX sont ajoutées</li>
		<li class="fragment">L'expérience des MPA se rapproche des SPA ?</li>
		<li class="fragment">Une API bas-niveau sur laquelle les frameworks vont fournir des abstractions ?</li>
	</ul>
</Slide>
