---
import Slide from "../components/Slide.astro";
import Image from "../assets/PullRequest.png"
---
<Slide>
	<h2>Plot twist 😱</h2>
</Slide>

<section data-background-image={Image.src} data-background-size="contain"></section>
