---
import Progressive from "../assets/progressive.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>Amélioration progressive</h2>
	<img src={Progressive.src} />
</Slide>

<style>
	img {
		width: 80vw;
	}
</style>
