---
import Slide from "../components/Slide.astro";
import CodeBlock from "../components/CodeBlock.astro";
---

<Slide>
	<h2>Amélioration progressive</h2>
	<CodeBlock lang="javascript" lines="|1-4|6-8">
		{
			`if (!document.startViewTransition) {
    await updateTheDOM(data);
    return;
}

const transition = document.startViewTransition(async () => {
    await updateTheDOM(data);
});`
		}
	</CodeBlock>
</Slide>
