---
import Slide from "../components/Slide.astro";
---

<Slide>
	<div class="comparison">
		<div>
			<h3>SPA</h3>
			<p class="fragment">Single-page application</p>
			<ul>
				<li class="fragment">Un seul document HTML</li>
				<li class="fragment">Contenu rempli côté-client</li>
				<li class="fragment">React, Vue, etc.</li>
			</ul>
		</div>
		<div>
			<h3>MPA</h3>
			<p class="fragment">Multi-page application</p>
			<ul>
				<li class="fragment">Plusieurs documents HTML</li>
				<li class="fragment">Contenu généré côté-serveur</li>
				<li class="fragment">Express, Rails, etc.</li>
			</ul>
		</div>
	</div>
</Slide>

<style>
	.comparison {
		display: flex;
		justify-content: space-between;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1 1 0;

			& > * {
				margin: 0;
			}
		}
	}
</style>
