---
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>SPA et MPA</h2>
	<div>
		<div>
			<h3>SPA</h3>
			<p>Single-page application</p>
		</div>
		<div>
			<h3>MPA</h3>
			<p>Multi-page application</p>
		</div>

	</div>
</Slide>
