---
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>View transition ?</h2>
	<ul>
		<li class="fragment">Pattern basique sur app mobile</li>
		<li class="fragment">Animer la transition entre différents états de l'application</li>
		<li class="fragment">Réduction de la charge cognitive : expérience plus intuitive</li>
		<li class="fragment">Possible sur le web, mais au prix de beaucoup d'efforts</li>
	</ul>
</Slide>
