---
import Group from "../assets/view-transition-group.svg";
import Slide from "../components/Slide.astro";
---

<Slide>
	<h2>: : view-transition-group</h2>
	<img src={Group.src} />
</Slide>

<style>
	img {
		width: 50vw;
	}
</style>
