---
import Slide from "../../components/Slide.astro";
---

<Slide>
  <h2>L'API viewTransition</h2>
</Slide>

<Slide>
  <h2>L'API viewTransition</h2>
  <ul>
    <li>Une API du navigateur</li>
    <li class="fragment">Permet des transitions entre les vues de votre application</li>
    <li class="fragment">Conçue pour les SPAs et MPAs</li>
    <li class="fragment">Fonctionne à l'aide d'animations CSS</li>
  </ul>
</Slide>
