---
import Slide from "../../components/Slide.astro";
import FlipSchema from "../../assets/flip-schema.webp";
---

<Slide>
	<div class="tenor-gif-embed" data-postid="9356431" data-share-method="host" data-aspect-ratio="1.54" data-width="100%"><a href="https://tenor.com/view/confused-lady-math-lady-dafuq-gif-9356431">Confused Lady Math Lady GIF</a>from <a href="https://tenor.com/search/confused+lady-gifs">Confused Lady GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></Slide>
