---
import Slide from "../../components/Slide.astro";
import FlipSchema from "../../assets/flip-schema.webp";
---

<Slide>
	<div>
		<ul>
			<li>F<span class="fragment">irst</span></li>
			<li>L<span class="fragment">ast</span></li>
			<li>I<span class="fragment">nvert</span></li>
			<li>P<span class="fragment">lay</span></li>
		</ul>
		<div class="fragment">
			<img src={FlipSchema.src} />
			<p>Kirill Vasiltsov - Everything You Need to Know About FLIP Animations in React</p>
		</div>
	</div>
</Slide>

<style>
	ul {
		list-style: none;
	}

	li {
		font-weight: bold;
	}

	span {
		font-weight: initial;
	}

	img {
		max-height: 50vh;
	}

	div:not(.fragment) {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	p {
		color: dimgrey;
		font-size: 0.3em;
		max-width: 40ch;
		margin: 0;
	}
</style>
