---
import logo from "../../assets/logo-devfest.svg";
---

<section data-background-iframe={"https://view-transition-demo-tgianellas-projects.vercel.app/shuffle"}>
	<h1>L'API viewTransition : une révolution pour le web ?</h1>
	<div>
		<span>Théo Gianella</span>
		<span>28/11/2025</span>
		<img src={logo.src}>
	</div>

</section>

<style>
	h1 {
		font-size: 2em;
		margin-top: 5vh;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
	}

	span:first-child {
		font-weight: bold;
	}

	img {
		max-width: 200px;
	}
</style>


