---

---

<section data-background-iframe={"https://view-transition-demo-tgianellas-projects.vercel.app/shuffle"}>
	<h1>L'API viewTransition : une révolution pour le web ?</h1>
	<p>Théo Gianella - 04/02/2025</p>
</section>

<style>
	h1 {
		font-size: 2em;
		margin-bottom: 5vh;
	}
</style>


