---
import Slide from "../../components/Slide.astro";
---

<Slide>
  <h2>Pourquoi ça change tout ?</h2>
  <ul>
		<li class="fragment">Plus simple à prendre en main</li>
		<li class="fragment">Accessible par défaut</li>
    <li class="fragment">Impossible en cross-document avant ça 🤯</li>
  </ul>
</Slide>
