---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/1-Introduction/Title.astro";
import Definition from "../slides/1-Introduction/Definition.astro";
import DemoIntro from "../slides/1-Introduction/DemoIntro.astro";
import Principles from "../slides/1-Introduction/Principles.astro";
import Why from "../slides/1-Introduction/why.astro";
import Transition from "../slides/1-Introduction/transition.astro";
import DemoNoTransition from "../slides/1-Introduction/DemoNoTransition.astro";
import DemoDefaultTransition from "../slides/2-SPA/DemoDefaultTransition.astro";
import Imperative from "../slides/2-SPA/Imperative.astro";
import DemoCustomTransition from "../slides/2-SPA/DemoCustomTransition.astro";
import ViewTransitionName from "../slides/2-SPA/ViewTransitionName.astro";
import Baseline from "../slides/4-Conclusion/Baseline.astro";
import ProgressiveEnhancement from "../slides/4-Conclusion/ProgressiveEnhancement.astro";
import CSSTree from "../slides/2-SPA/CSSTree.astro";
import NamesEverywhere from "../slides/2-SPA/NamesEverywhere.astro";
import DemoTransitionHeader from "../slides/2-SPA/DemoTransitionHeader.astro";
import ViewTransitionGroup from "../slides/2-SPA/ViewTransitionGroup.astro";
import DemoTransitionCards from "../slides/2-SPA/DemoTransitionCards.astro";
import DemoTransitionFeature from "../slides/2-SPA/DemoTransitionFeature.astro";
import DemoTransitionMPA from "../slides/3-MPA/DemoTransitionMPA.astro";
import CustomTransitionCode from "../slides/2-SPA/CustomTransitionCode.astro";
import CardViewTransitionName from "../slides/2-SPA/CardViewTransitionName.astro";
import FeatureViewTransitionName from "../slides/2-SPA/FeatureViewTransitionName.astro";
import NamesGuidelines from "../slides/2-SPA/NamesGuidelines.astro";
import Lifecycle from "../slides/2-SPA/Lifecycle.astro";
import Declarative from "../slides/3-MPA/Declarative.astro";
import Frameworks from "../slides/4-Conclusion/Frameworks.astro";
import PlotTwist from "../slides/4-Conclusion/PlotTwist.astro";
import Perspectives from "../slides/4-Conclusion/Perspectives.astro";
import CustomTransitionQueries from "../slides/2-SPA/CustomTransitionQueries.astro";
import End from "../slides/4-Conclusion/End.astro";
import Spa from "../slides/1-Introduction/Spa.astro";
import CoolAnimations from "../slides/1-Introduction/CoolAnimations.astro";
import FlipAnimations from "../slides/1-Introduction/FlipAnimations.astro";
import CrossDocumentAnimation from "../slides/1-Introduction/CrossDocumentAnimation.astro";
---

<Layout title="L'API viewTransition : une révolution pour le web ?">
	<main class="reveal">
		<div class="slides">
			<!-- Intro -->
			<Title />
			<CoolAnimations />
			<FlipAnimations />
			<CrossDocumentAnimation />
			<Definition />
			<Spa />
			<DemoIntro />
			<Why />
			<Principles />
			<Transition />
			<DemoNoTransition />
			<!-- 1. SPA -->
			<Imperative />
			<DemoDefaultTransition />
			<CSSTree />
			<CustomTransitionCode />
			<DemoCustomTransition />
			<CustomTransitionQueries />
			<ViewTransitionName />
			<DemoTransitionHeader />
			<ViewTransitionGroup />
			<CardViewTransitionName />
			<DemoTransitionCards />
			<NamesEverywhere />
			<NamesGuidelines />
			<Lifecycle />
			<FeatureViewTransitionName />
			<DemoTransitionFeature />
			<!-- 2. MPA -->
			<Declarative />
			<DemoTransitionMPA />
			<!-- Conclusion -->
			<Baseline />
			<ProgressiveEnhancement />
			<Frameworks />
			<PlotTwist />
			<Perspectives />
			<End />
		</div>
	</main>
</Layout>
