---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
import WhyAstro from "../slides/Definition.astro";
import DemoIntro from "../slides/DemoIntro.astro";
import Principles from "../slides/Principles.astro";
import Why from "../slides/why.astro";
import Transition from "../slides/transition.astro";
import DemoNoTransition from "../slides/DemoNoTransition.astro";
import DemoDefaultTransition from "../slides/DemoDefaultTransition.astro";
import Imperative from "../slides/Imperative.astro";
import DemoCustomTransition from "../slides/DemoCustomTransition.astro";
import ViewTransitionName from "../slides/ViewTransitionName.astro";
import Baseline from "../slides/Baseline.astro";
import ProgressiveEnhancement from "../slides/ProgressiveEnhancement.astro";
import CSSTree from "../slides/CSSTree.astro";
import NamesEverywhere from "../slides/NamesEverywhere.astro";
import DemoTransitionHeader from "../slides/DemoTransitionHeader.astro";
import ViewTransitionGroup from "../slides/ViewTransitionGroup.astro";
import DemoTransitionCards from "../slides/DemoTransitionCards.astro";
import DemoTransitionFeature from "../slides/DemoTransitionFeature.astro";
import DemoTransitionMPA from "../slides/DemoTransitionMPA.astro";
import CustomTransitionCode from "../slides/CustomTransitionCode.astro";
import CardViewTransitionName from "../slides/CardViewTransitionName.astro";
import FeatureViewTransitionName from "../slides/FeatureViewTransitionName.astro";
import NamesGuidelines from "../slides/NamesGuidelines.astro";
import Lifecycle from "../slides/Lifecycle.astro";
import Declarative from "../slides/Declarative.astro";
import Frameworks from "../slides/Frameworks.astro";
import PlotTwist from "../slides/PlotTwist.astro";
import Perspectives from "../slides/Perspectives.astro";
import CustomTransitionQueries from "../slides/CustomTransitionQueries.astro";
import End from "../slides/End.astro";
import Spa from "../slides/Spa.astro";
---

<Layout title="L'API viewTransition : une révolution pour le web ?">
	<main class="reveal">
		<div class="slides">
			<Title />
			<WhyAstro />
			<Spa />
			<DemoIntro />
			<Why />
			<Principles />
			<Transition />
			<DemoNoTransition />
			<Imperative />
			<DemoDefaultTransition />
			<CSSTree />
			<CustomTransitionCode />
			<DemoCustomTransition />
			<CustomTransitionQueries />
			<ViewTransitionName />
			<DemoTransitionHeader />
			<ViewTransitionGroup />
			<CardViewTransitionName />
			<DemoTransitionCards />
			<NamesEverywhere />
			<NamesGuidelines />
			<Lifecycle />
			<FeatureViewTransitionName />
			<DemoTransitionFeature />
			<Declarative />
			<DemoTransitionMPA />
			<Baseline />
			<ProgressiveEnhancement />
			<Frameworks />
			<PlotTwist />
			<Perspectives />
			<End />
		</div>
	</main>
</Layout>
