---
import Slide from "../../components/Slide.astro";
import CodeBlock from "../../components/CodeBlock.astro";
---
<Slide>
	<h2>Utiliser la viewTransition en SPA</h2>
</Slide>

<Slide>
	<h2>Utiliser la viewTransition en SPA</h2>
	<CodeBlock lang="javascript">
		{
			`document.startViewTransition(updateTheDOM);`
		}
	</CodeBlock>
</Slide>

<style>
	h2 {
		font-size: 1.4em;
	}
</style>
