---
import Slide from "../../components/Slide.astro";
import CodeBlock from "../../components/CodeBlock.astro";
---

<Slide>
	<table>
		<thead>
		<tr>
			<th scope="col">Niveau</th>
			<th scope="col">Statut</th>
			<th scope="col">Contenu</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Level 1</th>
				<td>Candidate Recommendation</td>
				<td>SPA</td>
			</tr>
			<tr>
				<th scope="row">Level 2</th>
				<td>Working draft</td>
				<td>MPA + améliorations</td>
			</tr>
		</tbody>
	</table>
</Slide>
