---
import Slide from "../../components/Slide.astro";
import CodeBlock from "../../components/CodeBlock.astro";
---

<Slide>
	<h2>L'objet ViewTransition</h2>
	<CodeBlock lang="javascript">
		{
			`const showProduct = () => {
	setupViewTransitionNames();

	const transition = document.startViewTransition(updateTheDOM);

	transition.finished.then(() => {
		removeViewTransitionNames();
	};
});`
		}
	</CodeBlock>
</Slide>
