---
import Slide from "../../components/Slide.astro";
---

<Slide>
  <h2>Quelques conseils...</h2>
  <ul>
		<li class="fragment">Jamais plus d'un élément avec le même view-transition-name</li>
    <li class="fragment">Mieux vaut utiliser des id uniques que des index</li>
    <li class="fragment">Appliquer la propriété avant la transition et nettoyer après</li>
  </ul>
</Slide>
