---
import QRCode from "../../assets/url_bento.me.png"
---

<section data-background-iframe={"https://view-transition-demo-tgianellas-projects.vercel.app/shuffle"}>
	<h2>Merci !</h2>
	<img src={QRCode.src} />
</section>


