---
import Slide from "../../components/Slide.astro";
---

<Slide>
  <h2>Frameworks</h2>
	<p class="fragment">Comment manipuler directement le DOM dans un framework ?</p>
	<ul>
		<li class="fragment">Appliquer les modifications de manière synchrone</li>
		<li class="fragment">Exemple en React : entourer tous les appels de startViewTransition avec flushSync()</li>
	</ul>
</Slide>
