---
import Slide from "../../components/Slide.astro";
import CodeBlock from "../../components/CodeBlock.astro";
---
<Slide>
	<h2>Problèmes et limitations</h2>
	<ul>
		<li class="fragment">Une seule view transition à la fois</li>
		<li class="fragment">La page n'est pas réactive durant la view transition</li>
		<li class="fragment">Impossible d'annuler une view transition</li>
	</ul>
</Slide>
