---
import Slide from "../../components/Slide.astro";
import CodeBlock from "../../components/CodeBlock.astro";
---

<Slide>
	<h2>Le futur</h2>
	<div class="fragment">
		<CodeBlock lang="javascript">
			{
				`element.startViewTransition(() => {
  // Update the DOM somehow.
});`
			}
		</CodeBlock>
	</div>
</Slide>
